.container {
  height: 700px;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  background-color: red;

  display: grid;
  grid-template-columns: 1fr;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(0, 57, 115), rgb(229, 229, 190));
}
